<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

    <script>
        function sendForm() {
            $.ajax({
                type:"POST",
                url:"{% url 'freedcamp:login' %}",
                data: JSON.stringify({username:$('#username').val(), password:$('#password').val()}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if(data.message == "ok") {
                        window.location = "{% url 'freedcamp:index' %}";
                    } else{
                        alert(data.message);
                    }
                },
                failure: function (errMsg) {
                    alert("Se presento un error al intentar el login");
                }
            });
            return false;
        }
    </script>
</head>
<body>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm-3" style="background-color:lavender;"><h3>Iniciar Sesión</h3></div>
        </div>
        <div class="row">
            <form method="post" action="" onsubmit="return sendForm() ;">
                <div class="input-group">
                    <span class="input-group-addon" style="width: 100px">E-mail</span>
                    <input id="username" name="username" type="text" placeholder="E-mail" class="form-control" style="width: 190px">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" style="width: 100px">Contraseña</span>
                    <input id="password" name="password" type="password" class="form-control" style="width: 190px">
                </div>
                <input id="send" name="send" type="submit" placeholder="login" /><br />
                <a href="{% url 'freedcamp:registroUsuario' %}">Registrarse</a>
            </form>
        </div>
    </div>


</body>
</html>
